<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>Welcome to SommBot Demo - your personal digital sommelier!</h2>
    <h2>To get started, simply text <a href="tel:1-225-800-9463">225-800-WINE (9463)</a></h2>
    <h2>Or hit me up on <a href="http://m.me/HelloSommBot">Facebook Messenger</a></h2>
    <br>
    <p>OK, a bit of explanation is probably required.  You see, I am not a developer, I am a "wine guy" as most of my friends would tell you.</p>
    <p>Being a wine guy is great, but what I've found over the years is that all my non-wine guy friends want to ask me wine questions, which is cool - I like to help</p>
    <p>I get lots of texts like "Hey, I'm going to have lamb tonight, can you recommend a good wine?" or "I need to pickup a good bottle to take to a party, what should I get?"</p>
    <p>As the "wine guy" I love answering these questions, the only problem is that I'm not always available to help when my friends need it the most</p>
    <p>So I've been thinking for awhile... "wouldn't it be great if everyone could just text a generic number where a "wine guy" could answer questions 24/7>"</p>
    <p>Sounds pretty good right? Well, turns out having a knowledgeable wine person available 24/7 is difficult, and expensive. But surely there is a better way?</p>
    <p>That's when I thought about SommBot - an automated digital sommelier.  Sure, it might take some time before a bot could be as good as a "wine guy" but this is totally doable.</p>
    <p>Without any real programming knowledge, and after lots of Google searches, I managed to piece together a demo that could be used as the starting point for SommBot.</p>
    <p>Yeah, I know, right now it sucks and can't really answer your questions, but with a little technical help, combined with my wine knowledge, we can get there!</p>
    <p>So here's what I need - someone with the right technical knowledge to help me put the guts of this together, and then I need feedback from all of you!</p>
    <p>Is this something you would like to see? If so, what are the most important things you want SommBot to do? What would make this valuable to you?</p>
    <br>
    <p>For anyone who can help me technically, or anyone who would like to provide some feedback about what this should do, please email me - I'd love to hear form you!</p>
    <br>
    <p>Thanks and please come back here soon and hopefully SommBot will be much smarter!</p>
</body>
</html>
