<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    <!--The following 4 lines were added to use Bootstrap-->
    <!-- 1. Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- 2. jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- 3. Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- 4. To set the initial screen width for responsiveness-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
<div class="row">
    <div class="thumbnail col-xs-12">
        <h2 class="text-primary text-center">Welcome to SommBot Demo - your personal digital sommelier!</h2>
        <h2>To get started, simply text "WINE" to <a href="tel:1-225-800-9463">225-800-WINE (9463)</a></h2>
        <h2>Or hit me up on <a href="http://m.me/HelloSommBot">Facebook Messenger</a></h2>
        <p>OK, a bit of explanation is probably required.  You see, I am not a developer, I'm a "wine guy" as most of my friends would tell you. 
    Being a wine guy is great, but what I've found over the years is that all my non-wine guy friends want to ask me lots of wine questions, which is cool - I like to help.</p>
        <p>I get lots of texts like "Hey, I'm going to have lamb tonight, can you recommend a good wine?" or "I need to pickup a good bottle to take to a party, what should I get?" As the "wine guy" I love answering these questions, the only problem is that I'm not always available to help when my friends need it the most.</p>
        <p>So I've been thinking for awhile... wouldn't it be great if everyone could just send a text to a "wine guy" and get questions answered 24/7? Sounds pretty cool right? Well, turns out that putting a knowledgeable wine person on call 24/7 is difficult, and expensive. But surely there is a better way.</p>
        <p>That's when I thought about SommBot - a digital sommelier.  Sure, it might take some time before a bot could be as good as your wine guy who knows all your preferences, but this is totally doable. Without any real programming knowledge, and after lots of Google searches, I managed to piece together this demo as a starting point for SommBot. Yeah, I know, right now it sucks and can't really answer your questions, but with a little technical help, combined with my wine knowledge, we can get there!</p>
        <p>So here's what I need - someone with the right technical knowledge to help me put the guts of this together, and then I need feedback from all of you! Is this something you would like to see? If so, what are the most important things you want SommBot to do? What would make this valuable to you? For anyone who can help me technically, or anyone who would like to provide some feedback about what this should do, please email me at <a href="mailto:yo@somm-bot.com">yo@somm-bot.com</a> - I'd love to hear form you!</p>
        <p>Thanks and please come back here soon and hopefully SommBot will be much smarter!</p>
    </div>
</div>
</div>
</body>
</html>
